<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_techtravel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_techtravel_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackaton_TechTravel"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.MapaAveActivity"
            android:exported="false"
            android:label="Aves"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MapaEventosActivity"
            android:exported="false"
            android:label="Eventos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DetallesBusquedaActivity"
            android:exported="false"
            android:label="Detalles"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TouristScreenActivity"
            android:exported="false"
            android:label="Home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TouristSearchActivity"
            android:exported="false"
            android:label="Busqueda"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TouristMoreInfoActivity"
            android:exported="false"
            android:label="Más información"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MapsActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activities.Reviews"
            android:exported="false"
            android:label="Reviews"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:label="Perfil"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CrearCuentaActivity"
            android:exported="false"
            android:label="Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.IniciarSesionActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>